:root {
  --accent-color: #2E2F42;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primery-color: #404BBF;
  --secondary-color: #434455;
}
body {
  font-family: var(--primery-font);
  font-size: 16px;
  font-weight: 500;
  color: #434455;
  background-color: #FFFFFF;

}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.list {
  list-style: none;
  /* padding-top: 24px; */
  /* padding-bottom: 24px; */
}
.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* margin-right: 76px; */

}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgb(46 47 66 / 8%), 0px 1px 1px 
  rgb(46 47 66 / 16%), 0px 1px 6px rgb(46 47 66 / 8%);
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}

.logo {
  color: var(--accent-color);
  margin-right: 76px;

}
.logo-web {
  color: #4D5AE5;
  

}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-item :hover,
.header-item :focus{
  color: var(--primery-color);
}
.header-link {
}
.address {  
  margin-left: auto;
}
.address-list {
  display: flex;
}
.address-item {
}
.address-item-mail a {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  padding-right: 40px;
  /* margin-right: 40px; */
}
.address-item-mail :hover,
.address-item-mail :focus {
  color: var(--primery-color);
}
.address-item-tel a {  
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.address-item-tel :hover,
.address-item-tel :focus {
  color: var(--primery-color);
}
.hero {
  background: var(--accent-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);

  padding-top: 188px;
  padding-bottom: 188px;

}
.container hero-container {
  /* width: 1440px;
  height: 600px;
  padding-top: 188px;
  margin: auto; */
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  
  /* margin: 0 auto; */
  padding-bottom: 48px;

  /* padding-top: 188px;
  padding-bottom: 48px; */
  /* margin: 0 auto; */
}
.button {
  
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
  border: 0;

  border-radius: 4px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  padding: 16px 32px;
  /* padding-bottom: 188px; */
  margin-left: 479px;
}
.hero-btn:hover,
.hero-btn:focus { 
  background: var(--primery-color);
}
 
.visually-hidden { 
position:
absolute; 
width: 1px; 
height: 1px; 
margin:
-1px; 
padding: 0; 
overflow:
hidden; 
border: 0; 
clip: rect(0
0 0 0); 
}   
.portfolio {  
  padding-top: 96px;
  padding-bottom: 120px;
  box-shadow: 0 4px 4px 0;
  /* background: #E5E5E5; */
}
.portfolio-btn-list { 
  display: flex;  
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  /* margin: 96px 427px 72px 427px; */
}
.portfolio-btn-list :hover,
.portfolio-btn-list :focus {
}
.portfolio-btn-item button {
  /* max-width: 80px; */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em; 
  color: #4D5AE5;

  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
}

.portfolio-btn-item :hover,
.portfolio-btn-item :focus {
  color: #FFFFFF;
  background-color: var(--primery-color);    
  cursor: pointer;
}
.portfolio-title {
  
}
.portfolio-list {
  /* width: 360px; */
  /* margin-right: 24px; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* background: #E5E5E5;   */
  
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  width: 100%;
  border-top: none;
  
}


.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  /* margin: 0; */
  flex-basis: calc((100% - 2 * 24px) / 3);
  
}

.portfolio-item:nth-child(3n) {
  /* margin-right: 0; */
}

.portfolio-item:nth-last-child(-n+3) {
  /* margin-bottom: 0; */
}
.portfolio-item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color); 
  
  /* padding-top: 32px; */
  /* padding-bottom: 8px; */
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  /* padding-bottom: 32px; */
}

.feature {
  padding-top: 120px;
  /* padding-bottom: 120px; */
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
  
}
.feature-item {
  width: 264px;
  height: 112px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-item-link {
  padding-bottom: 24px;
  width: 100%;
  height: 100%;
  background: #F4F4FD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.feature-item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  margin-bottom: 8px;
}
.feature-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);

  margin-bottom: 72px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.gallery-item {
  margin: 0;
  flex-basis: calc((100% - 2 * 24px) / 3);
  
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F4F4FD;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);

  padding-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
    
}

.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
}
.team-item-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  padding-top: 24px;
  padding-bottom: 8px;
}
.team-item-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  font-weight: 400;
  background: #FFFFFF;

  padding-bottom: 8px;
}

.team-list-soc-list {  
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.team-list-soc-item {
  width: 40px;
  height: 40px;
}

.team-item-soc-link {
  width: 100%;
  height: 100%;
  background: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team-item-soc-icon {
  fill: #F4F4FD;
}

.team-item-soc-link:is(:hover, :focus) {
  background: #404BBF;
}

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  padding-bottom: 72px;

  /* padding-top: 24px;
  padding-bottom: 8px; */
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* color: #8E8F99; */
}

.customers-icon {
  fill: #8E8F99;
}
/* .customer-link:hover tag-line {
  fill: var(--primery-color);
} 
.customers-link:hover {
  border:var(--primery-color);
} */
/* .customers-link:is(:hover, :focus) {
  border-color: #404BBF;
  fill: #404BBF;
} */
/* .customers-link:hover {
  fill: var(--primery-color);
} */
/* .customersc-link:is(:hover, :focus) {
  fill: #404BBF;
} */
.customers-link:is(:hover, :focus) { 
  border-color: var(--primery-color);
} 

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--primery-color);
}


/* ----------------------FOOTER------------------ */
.footer {
  background: var(--accent-color);
  /* padding-top: 100px;
  padding-bottom: 100px; */
  /* margin: 0; */
  /* padding-left: 156px; */
}

.container down {
  align-items: baseline;
  display: flex;
}

.footer .logo {
  color: #F4F4FD;

  /* margin: 0; */
  max-width: 115px;

}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;

  max-width: 264px;
  padding-top: 16px;
  /* margin: 0; */
}

.social {
  width: 208px;
  height: 80px;
  padding-top: 100px;
  padding-bottom: 130px;
  /* margin-left: 120px; */
}

.footer-social-container {
  margin-left: 120px;
}
.social-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;  
  color: #FFFFFF;
  font-style: normal;

  padding-bottom: 16px;

}

.social-list-soc-list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 16px;
  padding-bottom: 130px;
}

.social-list-soc-item {
  width: 40px;
  height: 40px;
}
.social-item-soc-link { width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-item-soc-icon {
  fill: #F4F4FD;  
}
.social-item-soc-link:is(:hover, :focus) {
  background: #31D0AA;
}